body 
{
	/* Without this (borrowed from one of the bootstrap samples) the bootstrap navbar
	  clobbers the top of the content. */
	padding-top: 60px;
}

/* Reasonable styles for the "new post" form */
.post-title
{
	width: 100%;
}

.post-body
{
	width: 100%;
	height: 200px;
}

.date
{
	font-size: 100%;
	font-style: italic;
	font-weight: normal;
}

h3.date
{
	float: right;
}

.posts
{
	margin: 0px;
}

.post
{
	border-bottom: 1px dashed black;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}