  <div class="btn-group">
    <a data-action="edit" class="btn" href="/posts/<%= post.slug %>/edit"><i class="icon-edit"></i></a>
    <a data-action="delete" class="btn confirm" data-confirm="Are you sure you want to delete this post?" href="/posts/<%= post.slug %>/delete"><i class="icon-trash"></i></a>
  </div>
